@import "../../ui/shared";
.shipmentDetails {
  width: 100%;
  flex-grow: 2;
  flex-basis: 60%;
  h1 {
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 600;
  }
  table {
    @include card;
    padding: 0;
    background-color: white;

    width: 100%;

    border-spacing: 0;

    thead {
      background-color: lighten($accent, 5%);
    }
    th,
    td {
      border-bottom: $accentLinesThickness solid $accent;
      padding: 20px;
      font-size: 0.9rem;
      text-align: inherit;
    }

    th {
      color: $tableHeaderColor;
      font-weight: 700;
    }
  }
}
