@import "../../ui/shared";
.shipmentMain {
  @include flex-column;
  padding: 20px 100px;
  gap: $gap;
  section {
    @include flex-row;
    width: 100%;
    gap: $gap;
    align-items: flex-start;
    aside {
      @include flex-column;
      flex: 0 1 35%;
      gap: $gap;
    }
  }
}
