$primary: #111619;
$secondary: #e30613;
$accent: #eeeeee;
$background: #ffffff;
$tableHeaderColor: #8f9bb2;
$accentLinesThickness: 2px;
$borderRadius: 10px;
$hPadding: 20px;
$gap: 20px;
$success: #35b600;
$pending: #f9ba02;
$failed: #f4050d;
@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin card {
  border-radius: $borderRadius;
  border: $accentLinesThickness solid $accent;
  padding: $hPadding;
  background-color: lighten($accent, 5%);
}

@mixin button {
  background-color: $secondary;
  color: $accent;
  border-radius: $borderRadius;
  padding: calc($hPadding * 0.5) $hPadding;
  cursor: pointer;
  &:hover {
    background-color: lighten($secondary, 10%);
  }
}

.success {
  color: $success;
}
.pending {
  color: $pending;
}
.failed {
  color: $failed;
}
