@import "../../ui/shared";

.shipmentSummary {
  @include flex-column;
  @include card;
  padding-inline: 0;
  background-color: white;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  gap: $gap;
}
