@import "../../../ui/shared";

.barWrapper {
  border-top: $accent $accentLinesThickness solid;
  padding-inline: $hPadding;
  .success {
    @extend .success;
    background-color: $success !important;
  }
  .pending {
    @extend .pending;
    background-color: $pending !important;
  }
  .failed {
    @extend .failed;
    background-color: $failed !important;
  }
  .barContainer {
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    margin-block: $hPadding * 2;
    .stageContainer {
      width: 100%;
      background-color: $accent;
      height: 5px;
      .stage {
        background-color: inherit;
        border-radius: 100%;
        text-align: center;
        color: white;
        font-size: 0.5rem;
        font-weight: 1000;
        padding: 0.2rem;
        position: relative;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 0.7rem;
        height: 0.7rem;
        img {
          width: 50px;
          height: 50px;
          background-color: inherit;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 100%;
        }
      }
      &:last-of-type {
        width: auto;
      }
    }
  }
  .statusMessages {
    @include flex-row;
    justify-content: space-between;
    h1 {
      font-size: 0.9rem;
      font-weight: 700;
    }
  }
}
