$primary: #242d47;
$secondary: #f40105;
$tertiary: #C8C8C8;
$background: #ffffff;

$font-regular: 400;
$font-medium: 600;
$font-bold: 800;

$text-sm: 0.875rem;
$text-md: 1rem;
$text-lg: 1.25rem;
$text-xl: 2rem;
$text-xxl: 3rem;

$border-radius: 0.5rem;

$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;
$spacing-xxl: 8rem;

$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-xxl: 1536px;
